In [65]:
#Importação de bibliotecas
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math as math
from collections import Counter
low_memory=False

In [66]:
#Leitura do arquivo
enem_2019 = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=';', encoding='iso-8859-1', usecols=['NU_NOTA_REDACAO','TP_PRESENCA_LC','IN_TREINEIRO'])

In [67]:
enem_2019.head()

   IN_TREINEIRO  TP_PRESENCA_LC  NU_NOTA_REDACAO
0             0               1            780.0
1             1               1            600.0
2             0               1            640.0
3             0               0              NaN
4             0               0              NaN

In [68]:
#Selecionando candidatos presentes na prova e que não fizeram a prova como treinamento
enem_2019.query('IN_TREINEIRO == 0 and TP_PRESENCA_LC == 1', inplace = True)

In [69]:
enem_2019.head()

   IN_TREINEIRO  TP_PRESENCA_LC  NU_NOTA_REDACAO
0             0               1            780.0
2             0               1            640.0
5             0               1            580.0
6             0               1            360.0
7             0               1            480.0

In [70]:
#Selecionando coluna com apenas as notas de redação
data = enem_2019.drop(columns=['TP_PRESENCA_LC','IN_TREINEIRO'])

In [84]:
data_ordenado = data.sort_values(by='NU_NOTA_REDACAO')

In [85]:
data_ordenado.head()

         NU_NOTA_REDACAO
2825830              0.0
1712794              0.0
1712751              0.0
1712750              0.0
2474147              0.0

In [87]:
#Média
media = data_ordenado.mean()
print(media)

NU_NOTA_REDACAO    571.291265
dtype: float64

In [74]:
#Mediana
mediana = data_ordenado.median()
print(mediana)

NU_NOTA_REDACAO    580.0
dtype: float64

In [75]:
#Menor
menor = data_ordenado.min()
print(menor)

NU_NOTA_REDACAO    0.0
dtype: float64

In [76]:
#Maior
maior =data_ordenado.max()
print(maior)

NU_NOTA_REDACAO    1000.0
dtype: float64

In [77]:
#Amplitude total
at = maior - menor
print(at)

NU_NOTA_REDACAO    1000.0
dtype: float64

In [80]:
#Frequência de notas
freq = data_ordenado['NU_NOTA_REDACAO'].value_counts()
print(freq)

560.0     237106
600.0     236514
580.0     215306
620.0     173830
520.0     171919
540.0     171279
640.0     168459
480.0     145167
500.0     121920
0.0       117484
680.0     114775
660.0     109395
460.0      99708
440.0      94988
720.0      86545
700.0      79191
760.0      71228
740.0      62326
400.0      59868
800.0      59474
320.0      58122
360.0      54740
420.0      54344
840.0      52174
780.0      51264
880.0      48122
920.0      46211
820.0      43726
340.0      40916
900.0      39647
300.0      38812
860.0      38683
380.0      37742
280.0      36973
940.0      36442
960.0      25286
260.0      21887
240.0      16737
980.0       8786
220.0       6197
200.0       3523
180.0       1185
160.0        854
140.0        317
120.0        208
80.0         112
100.0         74
40.0          57
60.0          54
1000.0        51
Name: NU_NOTA_REDACAO, dtype: int64

In [88]:
#Moda
moda = data_ordenado.mode()
print(moda)

   NU_NOTA_REDACAO
0            560.0

In [81]:
#Desvio padrão
dp = data_ordenado.std()
print(dp)

NU_NOTA_REDACAO    188.229583
dtype: float64

In [89]:
#Variância
variancia = data_ordenado.var()
print(variancia)

NU_NOTA_REDACAO    35430.375773
dtype: float64